.Header-House{
    display: grid;
    grid-template-columns:30% 70%;
    padding-top: 7px ;
    padding-bottom: 7px;
    background-color:rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    z-index: 9;
}

.Header-Left{
    background-color: transparent;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WWD-Text-125{
    position: fixed;
    text-align: left;
    margin: 0px;
    color: #f2f2f2;
    font-size: 35px;
    font-weight: 500;
}

.WWD-Text-125 span{
    color: #E0aa3e;
    font-weight: 600;
}

.Header-Right{
    padding-right: 30px;
}


.Header-Right ul a{
    text-decoration: none;
    color: #f2f2f2;
    font-size: 20px;
    padding-left:20px;
    padding-right: 20px;
    transition: all 0.5s ease-in;
}

.Header-Right ul a:hover{
    color: #E0aa3e;
    transition: all 0.5s ease-out;
}

.Header-Logo{
    float: left;
    height: 40px;
    width: 40px;
}

.Header-Right21{
    display: none;
    }

.Header-Right2{
display: none;
}

@media screen and (max-width:850px) {
    .Header-Right ul a{
        padding-left:15px;
        padding-right: 15px;
    }
}
@media screen and (max-width:810px) {

    .WWD-Text-125{
font-size: 30px;
    }
}

@media screen and (max-width:770px) {

    .Header-Right ul a{
        padding-left:10px;
        padding-right: 10px;
    }
}
@media screen and (max-width:750px) {

    .Header-Right ul a{
        padding-left:5px;
        padding-right: 5px;
    }
    .Header-Right{
        padding-right: 10px;
    }
    
}


@media screen and (max-width:560px) {
    .Header-House{
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
        position: absolute;
    }
    .Header-Right{
        display: none;
    }
    .Header-Right2{
        display: flex;
        padding: 0px;
        justify-content: center;
        align-items: center;
        color: black;
     
    }

    .Header-Right21{
        display: block;
        color: #f2f2f2;
        background-color: #E0aa3e;
        width: 70%;
        }
        .Header-Right21 ul{
            display: flex;
            flex-direction: column;
        }
        .Header-Right21 ul a{
            color: #f2f2f2;
            text-decoration: none;
        }
    .Header-Btn{
        text-align: center;
        outline: none;
        border: none;
        padding: 0px;
        margin: 0px;
        height: 35px;
        width: 40px;
        background-color: #E0aa3e;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .clicker{
        font-size: 20px;
        text-align: center;
    }

    }


