.Header-House{
    display: grid;
    grid-template-columns:30% 70%;
    padding-top: 7px ;
    padding-bottom: 7px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
}

.Header-Left{
    background-color: transparent;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WWD-Text-125{

    text-align: left;
    margin: 0px;
 
    font-size: 35px;
    font-weight: 500;
}

.WWD-Text-125 span{
    color: brown ;
    font-weight: 600;
}

.Header-Right{
    padding-right: 30px;
}

.Header-Right ul a{
    text-decoration: none;
    color: rgb(33, 33, 33);
    font-size: 20px;
    padding-left:20px;
    padding-right: 20px;
    transition: all 0.5s ease-in;
}

.Header-Right ul a:hover{
    color: brown;
    transition: all 0.5s ease-out;
}

.Header-Logo{
    float: left;
    height: 40px;
    width: 40px;
}

