.Body-House{
    background-image: url("https://images.unsplash.com/photo-1514316454349-750a7fd3da3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=400&q=60");
   
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: static;
}

.BodyShow-OverLay{
    box-shadow: inset black 1px 1px 250px 1px;
    height: 100%;
    display: flex;
    justify-content: left; 
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

.BS-Left{
    background-color: rgba(0, 0, 0, 0.244);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}

.BS-Text{
    padding-left: 30px;
    color: white;
    text-align: left;
    font-size: 50px;
    line-height: 50px;
}

.BS-Text1{
    padding-left: 30px;
    margin-top: -20px;

    color: white;
    text-align: left;
    font-size: 18px;
    width: 80%;
}

.BS-Image{
    height: 300px;
    width: 300px;
}

.BS-Button{
    margin-left: 30px;
    float: left;
    border-radius: 50%;
    height: 55px;
    border:none;
    width: 55px;
    font-size: 25px;
    color: black;
}

@media screen and (max-width:610px) {
    .BodyShow-OverLay{
        padding-right: 20px;
        padding-left: 20px;
    }
    .BS-Text{
        font-size: 40px;
        
    }
    .BS-Text1{
        width: 100%;
    }
}

@media screen and (max-width:510px){
    .BS-Text{
        padding-left: 10px;
        line-height: 40px;
    }
    .BS-Text1{
        padding-left: 10px;
        width: 100%;
        font-size: 18px;
    }
    .BS-Button{
        margin-left: 10px;
    }
}

