.PickGround{
    background-color: black;
    height: 250px;
    margin: 0px;
    padding-top: 40px;
    box-sizing: border-box;
}

.Pick-Text-1, .Pick-Text-2{
    font-size: 59px;
    margin: 0px;
   
}

.Pick-Text-1{
    color: #E0aa3e;

}
.Pick-Text-2{
    font-weight: 500;
    color: #f2f2f2;
}

.Pick-Text-2 span{
    color: #E0aa3e;
    font-weight: 600;
}

.Pick-Par{
    color: #f2f2f2;
    font-size: 17px;
}