.WWD-Board{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
    opacity: 100%;

    transition: all 1s ease-in;
}



.WWD-Text-1{
    padding-top: 30px;
    margin: 0%;
    font-size: 40px;
    color: #E0aa3e;
}

.WWD-Text-12{

    text-align: left;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 500;
}

.WWD-Text-12 span{
    color: #E0aa3e;
    font-weight: 600;
}


.WWD-Text-123{

    text-align: center;
    margin: 0px;
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 500;
}

.WWD-Text-123 span{
    color: #E0aa3e;
    font-weight: 600;
}


.WWD-Text-129{

    text-align: right;
    margin: 0px;
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 500;
}

.WWD-Text-129 span{
    color: #E0aa3e;
    font-weight: 600;
}


.WWD-Text-2{
    color: #f2f2f2ad;
    margin: 0px;
    text-align: left;
    font-size: 17px;
}
.WWD-Text-29{
    color: #f2f2f2ad;
    margin: 0px;
    text-align: right;
    font-size: 17px;
}

.WWD-Text-23{
    color: #f2f2f2ad;
    text-align: center;
    font-size: 17px;
    width: 70%;
    margin-left: 15%;
}

.WWD-Right {
    margin-top: 20px;
    width: 100%;
}
.WWD-Right-Image{
    border-radius: 30px;
    width: 100%;
}
.WWD-Right-Image2{
    border-radius: 30px;
    width: 100%;
    margin-left: 20px;
}


.WWD-Left1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.WWD-Image2{
    margin-top: 70px;
    align-self: center;
    height: 250px;
    padding: 0px;

 
}

@media screen and (max-width:710px) {
    .WWD-Board{
    
    padding-left: 50px;
    padding-right: 50px;}
    .WWD-Text-23{
        width: auto;
        margin-left: 0%;
        margin: 0px;
        padding-left: 20px;
        padding-right: 20px;
    
    }
}

@media screen and (max-width:610px) {
    .WWD-Board{
       
        padding-left: 20px;
        padding-right: 20px;}

        .WWD-Text-23{
            padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        
        }
    .WWD-Text-2{
        text-align: left;
    }
    .WWD-Text-123{
        padding-top: 00px;
    }
}

@media screen and (max-width:560px) {
    .WWD-Board{
        grid-template-columns:  1fr;
    }
    .WWD-Text-123{
        font-size: 27px;
        padding-left: 20px;
        text-align: left;
    }
  .WWD-Text-129{
    font-size: 27px;
        text-align: left;
    }
    .WWD-Text-12{
        font-size: 27px;
    }
    .WWD-Text-29{
        text-align: left;
    }
   
}