.Hover{
    position: fixed;
    margin-top: 150px;
    width: 170px;
}

.Hover-Locker{
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:left;
    overflow: hidden;
    position: relative;
    background-color: salmon;
    width: 30%;
    margin: 5px 5px 5px 0px;
    transition: 0.25s all ease-out;
    padding: 1px;
    border-radius: 0px 50px 50px 0px;
}

.Hover-Locker:hover{
    background-color: salmon;
    width: 100%;
    transition: 0.25s all ease-in;
}

.Hover-Locker span:first-child {
    transform: translateX(-100px);
}

.Hover-Locker span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    transform: translateX(13px);
  }

  span {
    transition: transform 0.2s ease-out;
  }
 .Hover-Locker:hover span:first-child {
    transform: translateX(20px);
  }
 
  .Hover-Locker:hover span:last-child {
    transform: translateX(120px);
  }


.Hover-Icon{
    background-color: salmon;
    color: white;
    font-size: 20px !important;
    text-align: center;
}

.Hover-Icon1{
    color: white;
    font-size: 18px !important;
    text-align: center;
    padding-right: 5px;
    margin-top: 5px;
    transition: 0.25s all ease-out;

}

.Hover-Icon1:hover{
    color: black;
    scale: 125%;
    transition: 0.25s all ease-in;

}

.Hover-Text{

    text-align: center;
    font-size: 20px;
    color: white;

}

.Hover-Handler{
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: -20px;
}