.Main-Land{
    padding-right: 30px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: 50% 50%;

}

/* The Right View */
.Right-Land{
    display: flex;
    flex-direction: column;
}

.Starter{
    font-size: 24px;
    font-weight: 500;
    padding-top: 80px;
}

.Bolder{
    font-size: 50px;
    margin-top: -5px;
    font-weight: 900;
    line-height: 65px;
}

.Bolder span{
    color: salmon;
}

.Explainer{
    font-size: 20px;
    margin-top: -20px;
}

.read{
    padding-right: 10px;
    font-size: 20px;
    font-weight: 300;
}

.circle{
    padding: 20px;
    border-radius: 50%;
    color:black;
    background-color: salmon;
    align-items:center;
}

.crosser{
    display: flex;
    justify-content: left;
    align-items:center;
}

/* The Left view */
.Left-Land{
  
}


.Image-Land{
    background-image: url(../../../public/pngaaa.com-2106911.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    
}