.Block-Main{
    padding-top: 100px;

} 



.Block-Main-Text{
    text-align: center;
    font-size: 50px;
    font-weight: 450
}

.Block-Main-Text span{
    color: salmon;
    font-weight: 900;
}

.Block-House{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    }

.Block-Box:hover{
    background-color: rgba(255, 255, 255, 0.015);
    transition: all 0.3s ease-out;
}

.Block-Box{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    transition: all 0.3s ease-in;
    border-radius: 14px;
    display: block;
    position: relative;
    overflow: hidden;
}

.Block-Box span:first-child {
    display: inline-block;
    padding: 10px;
  }

.Block-Box span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
  }

  span {
    transition: transform 0.2s ease-out;
  }
 
  .Block-Box:hover span:first-child {
    transform: translateY(100%);
  }
 
  .Block-Box:hover span:last-child {
    transform: none;
  }

.Block-Icon{
    padding-top: 14px;
    padding-right: 5px;
    padding-left: 5px;
    color: salmon;
    font-size: 50px !important;
    align-items: center;
    text-align: center;
}

.Block-Head{
    padding-top: 0px;
    margin-top: 0px;
    color: #f9f9f9;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
}

.Block-Text{
    margin-top: -15px;
    color:rgba(255, 255, 255, 0.638);
    text-align: left;
}