.House_Register{
padding-left: 15px;
padding-right: 15px;

}
.Intro_Text{
    color:#ff8400;
    font-size: 40px;
    font-weight: 550;
    padding-top:20px ;
    text-align: center;
}

.Intro_Text span{
     
    color:  rgba(9, 6, 29, 0.802);
    font-weight: 1000;
}

.Form_Block{
   padding-top:50px ;
}

.Add_Form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.Form_Field{
    background-color:white;
    outline: none;
    color: black;
    height: 30px;
    border: 1px solid rgba(9, 6, 29, 0.552) ;
    border-radius: 4px;
    text-align: left;
    padding-left: 13px;

}

.Form_Description{
    background-color: white;
    outline: none;
    color: black;
    height: 30px;
    border: 1px solid rgba(9, 6, 29, 0.552) ;
    border-radius: 4px;
    text-align: left;
    padding-left: 13px;
}

.Add_Smt{
    margin-top: 30px;
    background-color: #ff8400;
    color: rgb(9, 6, 29);
    width: 150px;
    height: 50px;
    outline: none;
    text-decoration: none;
    border:none;
    border-radius: 4px;

}

.Add_Smt h1{
    font-size: 20px;
}