.Navigator{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    font-size: 20px;
    background-color: transparent;
    box-shadow: #0000006b 30px -15px 50px 5px;
    z-index: 0;
}